* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

i,
em {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #e60012;
}

image {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

input,
button,
textarea {
    border: 0;
    outline: none;
    resize: none;
}

button,
input {
    font-family: 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', sans-serif;
}

div {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font: 12px/1.5 'Microsoft YaHei', 'Heiti SC', tahoma, arial, 'Hiragino Sans GB', sans-serif;
    color: #666;
}

.hide,
.none {
    display: none;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}